
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather Finder</title>
    <link rel="icon" href="flaticon.ico">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Satisfy&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Favicons -->

    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">
    <link rel="icon" href="data:,">
  </head>
  <body class="text-center">
    <div class="head-div">
      <h1 class="head">Weather Finder</h1>

    </div>
